[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_to_spine
X-Python-2-Compatible=false
Name=Export to Spine
Comment=Plugin that exports a document for Spine
